<form name="form" novalidate>
    <notification type="error" on="form.oldpassword.$error.required">Please fill out the field Old password</notification>
    <notification type="error" on="confirmpassword != newpassword || newpassword == undefined">Passwords don't match</notification>
    <notification type="success" on="confirmpassword == newpassword && newpassword != undefined">Passwords match</notification>

    <label for="oldpassword">Old Password:</label>
    <input type="text" name="oldpassword" id="oldpassword" ng-model="oldpassword" required placeholder="Old Password">

    <label for="newpassword">New Password:</label>
    <input type="text" name="newpassword" id="newpassword" ng-model="newpassword" required>

    <label for="confirmpassword">Verify New Password:</label>
    <input type="text" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" required>

    <input type="submit" value="Change Password"/>
</form>
